@model List<Post>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Posts</title>
</head>
@* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" /> *@
<body>
    @foreach(Post post in Model)
    {
        <div class="post">
            <h2>@post.Title</h2>
            <p>@post.Content</p>
            <small>Posted on @post.PublishedOn.ToString("MM/dd/yyyy")</small>
        </div>
    }
</body>
</html>